flows.json
[{"id":"638000ef.15efc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"897a60a4.f34c5","type":"debug","z":"638000ef.15efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":220,"wires":[]},{"id":"46a6702b.6b318","type":"ibmiot in","z":"638000ef.15efc","authentication":"apiKey","apiKey":"e14d6850.2dc778","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1103","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":220,"wires":[["31ed4234.a53d5e","bd8a91d1.6924c","897a60a4.f34c5","2147f532.2f914a"]]},{"id":"31ed4234.a53d5e","type":"function","z":"638000ef.15efc","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["897a60a4.f34c5","820c2318.1961e"]]},{"id":"bd8a91d1.6924c","type":"function","z":"638000ef.15efc","name":"humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["897a60a4.f34c5","eeff96ce.038668"]]},{"id":"820c2318.1961e","type":"ui_gauge","z":"638000ef.15efc","name":"","group":"ef6da4ee.0a4238","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":100,"wires":[]},{"id":"eeff96ce.038668","type":"ui_gauge","z":"638000ef.15efc","name":"","group":"ef6da4ee.0a4238","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":320,"wires":[]},{"id":"b60a2935.0d82b8","type":"ui_button","z":"638000ef.15efc","name":"","group":"ef6da4ee.0a4238","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":440,"y":600,"wires":[["368969ae.90ebb6","6efbf34f.6cf86c"]]},{"id":"24bf975a.c36fa8","type":"ui_button","z":"638000ef.15efc","name":"","group":"ef6da4ee.0a4238","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":450,"y":700,"wires":[["368969ae.90ebb6","6efbf34f.6cf86c"]]},{"id":"368969ae.90ebb6","type":"ibmiot out","z":"638000ef.15efc","authentication":"apiKey","apiKey":"e14d6850.2dc778","outputType":"cmd","deviceId":"1103","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":680,"wires":[]},{"id":"2ace383f.cbf378","type":"http in","z":"638000ef.15efc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":500,"wires":[["7f762148.e43c5"]]},{"id":"d5e272c9.5b2cd","type":"http response","z":"638000ef.15efc","name":"","statusCode":"","headers":{},"x":650,"y":500,"wires":[]},{"id":"7f762148.e43c5","type":"function","z":"638000ef.15efc","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'moisture':global.get(\"moisture\")}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["d5e272c9.5b2cd","60978fdf.2aca4"]]},{"id":"6efbf34f.6cf86c","type":"debug","z":"638000ef.15efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":600,"wires":[]},{"id":"24160959.924de6","type":"http in","z":"638000ef.15efc","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":190,"y":420,"wires":[["b887616b.dd0d5"]]},{"id":"295ba4c8.2a2c1c","type":"http response","z":"638000ef.15efc","name":"","statusCode":"","headers":{},"x":660,"y":400,"wires":[]},{"id":"b887616b.dd0d5","type":"function","z":"638000ef.15efc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["60978fdf.2aca4","295ba4c8.2a2c1c"]]},{"id":"60978fdf.2aca4","type":"debug","z":"638000ef.15efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":460,"wires":[]},{"id":"2147f532.2f914a","type":"function","z":"638000ef.15efc","name":"moisture","func":"global.set('moisture',msg.payload.Moisture)\nmsg.payload=msg.payload.Moisture\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["897a60a4.f34c5","4ab05136.b7178"]]},{"id":"4ab05136.b7178","type":"ui_gauge","z":"638000ef.15efc","name":"","group":"ef6da4ee.0a4238","order":1,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":160,"wires":[]},{"id":"e14d6850.2dc778","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ef6da4ee.0a4238","type":"ui_group","z":"","name":"Default","tab":"de8682b1.be53a","order":1,"disp":true,"width":"6","collapse":false},{"id":"de8682b1.be53a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]